* {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background-color: #fff;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
}

h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

ul {
    margin-left: 50px;
    margin-top: 10px;
}

table {
    width: 100%;
}

th {
    text-align: left;
    padding-bottom: 5px;
}

td {
    margin-right: 5px;
}

p {
    margin-bottom: 15px;
}

code {
    background-color: #f0f0f0;
    color: black;
    padding: 5px;
    border-radius: 5px;
    padding-bottom: 20px;
    white-space: pre-wrap;
    display: block;
    font-family: 'Courier New', monospace;
}

div.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    display: grid;
    column-gap: 50px;
    grid-template-columns: [content] 750px [right] auto;
    grid-template-rows: [row-top] 50px [row-release] 150px [row-sponsors] 150px [row-other] auto [row-footer] 150px;
}

div.menu {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50px;
    padding-top: 4px;
    font-size: 22px;
    text-align: center;
    background-color: rgb(56, 127, 170);
}

div.menu > div.items {
    padding-top: 8px;
}

a, a:visited {
    color: blue;
}

div.menu > div.items > a, div.menu > div.items > a:visited {
    color: white;
    text-decoration: none;
}

div.content {
    grid-column: content;
    grid-row-start: row-top;
    grid-row-end: row-footer;
}

div.content > div.logo > img {
    width: 250px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

div.releases {
    grid-column: right;
    grid-row: row-release;
}

div.sponsors {
    grid-column: right;
    grid-row: row-sponsors;
}

div.sponsors > img {
    width: auto;
    height: 75px;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {

div.wrapper {
    width: 90%;
    display: grid;
    column-gap: 50px;
    grid-template-columns: [content] 100%;
    grid-template-rows: [row-top] 20px [row-release] 20px [row-other] auto [row-empty] 50px [row-sponsors] 150px [row-footer] 50px;
}

div.menu {
    padding-top: 25px;
    font-size: 16px;
}

div.content {
    grid-row-start: row-other;
    grid-row-end: row-empty;
}

div.content > div.logo {
    width: 100%;
    text-align: center;
}

div.content > div.logo > img {
    width: 200px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

div.sponsors {
    grid-column: content;
    grid-row: row-sponsors;
    text-align: center;
}

div.sponsors > a > img {
    width: 230;
    height: auto;
}

div.releases {
    grid-column: content;
    grid-row: row-release;
    text-align: center;
}

div.releases > h3 {
    display: none;
}

div.releases > p {
    display: inline-block;
}

code {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
}

}
